# Ignorar diretórios fora do repositório
../Finance Organizer/
../Hyan's Banco/
../Mami's rotisserie/
../REST API com Python e Flask/
../demo-park-api - final f/
../flaskapp/
../hyan-microservices/
../projeto-final-javer/
../rest-with-spring-boot-and-java-hyan/
../tarefas/


